<p class="page_actions">
	<%= link_to "<< Na prvo stran", root_path %>
</p>

<header>
	<h3 data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
	  Poročilo oglaševanja
	  <small class="account_switcher"><%= @current_ga_account.alias %> <span>▼</span></small>
	  <%#= link_to "Izvozi v Excel", ga_exports_path(format: :xlsx), class: "btn btn-default btn-xs report_export_to_xlsx" %>
	</h3>
</header>

<div id="ga_report"></div>
