<p style="margin:30px 40px 0;"><%= link_to "<< Na prvo stran", root_path %></p>

<h1>
  Poročila oglaševanja
  <%= link_to "Izvozi v Excel", ga_exports_path(format: :xlsx), class: "btn btn-primary btn-sm" %>
</h1>

<p class="actions">Poročila o oglešavalskih kampanjah za Google Analytics račun <strong><%= @current_ga_account.alias %></strong>.</p>

<div id="table_report"></div>
