<style type="text/css">
  .row {
    padding: 0 5%;
    margin:0 auto;
  }

  h1 {
    margin:30px 0 10px;
  }

  button.btn {
    margin:35px 0 40px;
  }

  .col-sm-5 {
    display: block;
    float: none;
    padding: 0;
  }

  .panel {
    margin: 0 0 60px;
  }
</style>

<div class="row">
  <div class="col-md-12">
		<h1>Emazing</h1>
		<ul>
			<li><%= link_to "Generator URL-jev", fb_url_builder_path %></li>
      <!-- <li><%= link_to "Ročen uvoz stroškov oglaševanja na Facebook-u v Google Analytics", new_daily_report_path %></li> -->
      <li><%= link_to "Izvoz podatkov o oglaševanju za nadaljno analizo v Excel datoteki", ga_exports_path %></li>
		</ul>
	</div>
</div>