.ga_exports_index {
	h1 {
		padding-left: 40px;
	}

	.table {
		td, th {
			font-size: 13px;
		}

		tr td:first-child, tr th:first-child {
			padding-left: 40px;
			background-position: 22px center;
		}
	}

	.actions {
		padding: 10px 40px;
		color: #888;
	}

	form.refresh_ga_export {
		display: inline;

		div {
			display: inline;
		}
	}

	.dataTables_filter {
		margin: -34px 40px 0 0;
		font-size: 13px;

		label {
			margin: 0;
			font-weight: normal;

			input {
				line-height: 100%;
			}
		}
	}
}