@import "bootstrap";
@import "bootstrap/theme";

.row {
  padding: 0 5%;
  margin:0 auto;
}

h4 {
  margin:50px 0 10px;
}

.pages_index {
	ul {
		text-align:center;
		list-style:none;
		margin:0;
		padding:0;

		li {
			margin: 0;
			padding: 0;
			line-height: 160%;
		}
	}

	h2 {
		margin: 40px 0 26px;
		text-align:center
	}

	.logo_wrap {
		text-align:center;
		margin:30px 0 0;
	}
}
