@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font-url('glyphicons-halflings-regular.woff') format('woff'), font-url('glyphicons-halflings-regular.ttf') format('truetype'), font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.row {
  padding: 0 5%;
  margin:0 auto;
}

h4 {
  margin:50px 0 10px;
}

.pages_index {
	ul {
		text-align:center;
		list-style:none;
		margin:0;
		padding:0;

		li {
			margin: 0;
			padding: 0;
			line-height: 160%;
		}
	}

	h2 {
		margin: 40px 0 26px;
		text-align:center
	}

	.logo_wrap {
		text-align:center;
		margin:30px 0 0;
	}
}

.daterangepicker_trigger {
	display: inline-block;
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;

	span {
		padding: 0 5px;
	}

	i {
		font-size: 12px;
	}
}