<div class="row">
  <div class="col-md-12">
    <p style="margin-top:30px;"><%= link_to "<< Na prvo stran", root_path %></p>
    <h1>Uvoz stroškov oglaševanja na Facebook-u v Google Analytics</h1>

    <style type="text/css">
      button.btn {
        margin:35px 0 40px;
      }

      .col-sm-5 {
        display: block;
        float: none;
        padding: 0;
      }

      .panel {
        margin: 0 0 60px;
      }
    </style>

    <%= form_for @daily_report, multipart: true do |f| -%>
      <h4>Naloži poročilo</h4>
      <div class="form-group">
        <label for="csv">CSV datoteka *</label>
        <%= f.file_field :body, class: 'form-control', required: true %>
        <p class="help-block">Izberi poročilo izvoženo iz Facebook-a z imenom "Daily Custom Data Report for GA".</p>
      </div>
      <div class="form-group col-sm-5">
        <label for="date">Datum na katerega se stroški navezujejo *</label>
        <%= f.text_field :created_at, class: 'form-control', required: true, value: Date.yesterday %>
        <p class="help-block">Privzeta vrednost je včerajšnji datum.<br/>Datum naj bo obvezno zapisan v obliki: 2014-02-23</p>
      </div>
      <button type="submit" class="btn btn-default">Naloži</button>
    <% end -%>
  </div>
</div>